:global {
  .header-box {
    box-shadow: 2px 5px 11px rgba(0, 0, 0, .15);
    background-color: #f8f9fa;
    *.ui {
      .menu {
        margin: 0;
      }
    }
    img {
      max-width: 60px;
    }
  }
}
